h1 {
    background: blue;
    color: white;
}

.pitsa1 {
    background: orange;
    font-size: 32pt;
    color: green;
}
.pitsa2 {
    border: 10px solid yellow;
    border-radius: 5px;
    font-size: 24pt;
    margin: 0px 0px 60px 0px;
    padding: 200px 0px 0px 50px
}
.pitsa3 {
    font-weight: 900;
    font-size: 22pt;
    font-family: "Courier New";
}
.pitsa4 {
    text-align: center;
    font-style: italic;
    font-size: 24px;
    text-shadow: 3px 3px 2px green;
}

img {
    margin: 100px 100px 100px 100px;
}